body {
    background: #fff;
    height: 100%;
    width: 100%;
    margin:0;
}

/*Header*/

.logo{
    text-align: center;
    background: #222A35;
    color: #F39723;
    padding: 30px;
}

.background-image {
    height: auto;
    padding: 0px;
    position: relative;
}

/*Container*/

.container {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    padding-top: 230px;
    top: 0;
    height: 100%;
    width: 100%;
}

.bg-sect > .columns {
    text-align: center;
}

.favlocations {
    padding-left: 50px;
    padding-top: 50px;
}

.favlocations p{
    color: #dddddd;
    font-size: 32px;
    padding: 0;
    margin: 0;
}

.favlocations i{
    padding: 10px;
}

.follow {
    text-align: center;
    padding: 80px;
}

.follow a{
    text-align: center;
    padding: 30px 40px;
    padding-bottom: 20px;
    font-size: 30px;
    border-radius: 50px;
    background: #222A35;
    color: #F39723;
    font-weight: 500;
}
.follow a:hover {
  color:#fff;
}

.big-text {
    font-size: 60px;
    color: #eee;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
}

.sm-text {
    font-size: 40px;
    color: #eee;
    padding: 0px;
    margin: 0px;
    padding-bottom: 60px;
}

/*Footer*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 15px;
    background: rgba(0,0,0, 0.4);
}

.footer > .columns {
    padding: 30px;
    text-align: center;
    border-left: 1px solid grey;
}

.footer > .columns:first-of-type {
    border-left: 0px solid #ddd;
}

.footer p {
    color: #ddd;
    font-size: 25px;
    padding: 0;
    margin: 0px;
}

.footer i{
    padding: 20px;
}
